{% include base_path %}

{% if post.teaser %}
{% capture teaser %}{{ post.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | strip | strip_newlines %}
{% else %}
  {% assign title = post.title | strip %}
{% endif %}

<div class="pub-two-col">
  <div class="pub-left">
    {% if teaser contains ".mp4" or teaser contains ".webm" %}
      <video class="pub-teaser" autoplay loop muted playsinline>
        <source src={% if teaser contains "://" %}"{{ teaser }}"{% else %}"{{ teaser | prepend: "/images/" | prepend: base_path }}"{% endif %} type="video/mp4">
      </video>
    {% else %}
      <img class="pub-teaser" src={% if teaser contains "://" %}"{{ teaser }}"{% else %}"{{ teaser | prepend: "/images/" | prepend: base_path }}"{% endif %} alt="">
    {% endif %}
  </div>

  <div class="pub-right">
      <p class="pub-title" style="font-size: 1.0em; margin: 0; line-height: 1; padding: 0;"><b><a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a></b></p>

      {% if post.authors %}
        <p class="pub-authors" style="font-size: 0.8em; margin: 0;">
        {% for author in post.authors %}
          {% if author.url %}
            <a href="{{ author.url }}" target="_blank">{{ author.name }}</a>
          {% else %}
            {{ author.name }}
          {% endif %}
          {% if forloop.last == false %}, {% endif %}
        {% endfor %}
        </p>
      {% endif %}

      {% if post.publication and post.honor %}
        <p class="pub-publication" style="font-size: 1.0em; margin: 0;"><b><i>{{ post.publication }}, <span style="color: red;">{{ post.honor }}</span></i></b></p>
      {% else %}
        <p class="pub-publication" style="font-size: 1.0em; margin: 0;"><b><i>{{ post.publication }}</i></b></p>
      {% endif %}

      {% if post.url_project_page and post.url_paper and post.url_arxiv and post.url_code and post.url_data %}
        <p class="pub-links" style="font-size: 0.8em; margin: 0;"><a href="{{ post.url_project_page }}">Project Page</a> | <a href="{{ post.url_paper }}">Paper</a> | <a
            href="{{ post.url_arxiv }}">arXiv</a> | <a href="{{ post.url_code }}">Code</a> | <a
            href="{{ post.url_data }}">Data</a></p>
      {% elsif post.url_paper and post.url_arxiv and post.url_code and post.url_data %}
        <p class="pub-links" style="font-size: 0.8em; margin: 0;"><a href="{{ post.url_paper }}">Paper</a> | <a href="{{ post.url_arxiv }}">arXiv</a> | <a
            href="{{ post.url_code }}">Code</a> | <a href="{{ post.url_data }}">Data</a></p>
      {% elsif post.url_project_page and post.url_paper and post.url_arxiv %}
        <p class="pub-links" style="font-size: 0.8em; margin: 0;"><a href="{{ post.url_project_page }}">Project Page</a> | <a href="{{ post.url_paper }}">Paper</a> | <a href="{{ post.url_arxiv }}">arXiv</a></p>
      {% elsif post.url_project_page and post.url_arxiv %}
        <p class="pub-links" style="font-size: 0.8em; margin: 0;"><a href="{{ post.url_project_page }}">Project Page</a> | <a
            href="{{ post.url_arxiv }}">arXiv</a></p>
      {% elsif post.url_paper %}
        <p class="pub-links" style="font-size: 0.8em; margin: 0;"><a href="{{ post.url_paper }}">Paper</a></p>
      {% endif %}

      {% if post.abstract %}
        <p class="pub-abstract" style="font-size: 0.8em; margin: 0;">{{ post.abstract }}</p>
      {% endif %}

  </div>
</div>